body{
font-family:'Poppins',sans-serif;
background:#07142b;
color:#e6edf3;
line-height:1.6;
margin:0;
}

/* container */

.container{
max-width:1200px;
margin:auto;
padding:40px 20px;
}

/* navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:60px;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:#e6edf3;
}

nav a:hover

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
margin-bottom:100px;
}

.hero-text h1{
font-size:48px;
color:#38bdf8;
margin-bottom:10px;
}

.typing{
font-size:20px;
margin-bottom:25px;
}

/* hero buttons */

.hero-buttons{
display:flex;
gap:20px;
}

.btn-primary{
background:#38bdf8;
color:#07142b;
padding:12px 28px;
border-radius:30px;
font-weight:600;
text-decoration:none;
}

.btn-primary:hover

.btn-outline{
border:2px solid #38bdf8;
color:#38bdf8;
padding:10px 28px;
border-radius:30px;
text-decoration:none;
}

.btn-outline:hover

/* profile image */

.hero-image img{
width:200px;
border-radius:50%;
border:4px solid #38bdf8;
}

/* sections */

section{
margin-bottom:90px;
}

h2{
color:#38bdf8;
margin-bottom:20px;
}

/* skills */

.skills{
display:flex;
gap:30px;
font-size:40px;
justify-content:center;
margin-top:30px;
}

.skills i:hover{
color:#38bdf8;
transform:scale(1.2);
}

/* projects */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.card{
background:#1f2c44;
padding:25px;
border-radius:12px;
}

.card:hover

/* github stats */

.github-stats{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

.github-stats img{
width:400px;
border-radius:10px;
}

/* social icons */

.social-links{
display:flex;
gap:25px;
font-size:28px;
}

.social-links a{
color:#e6edf3;
}

.social-links a:hover

/* footer */

footer{
text-align:center;
margin-top:60px;
padding-top:20px;
border-top:1px solid #2b3b5b;
}

/* responsive */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-buttons{
justify-content:center;
}

}
